name: Deploy DynamoDB Stack

on:
  workflow_call:
    inputs:
      aws_region:
        required: true
        type: string
      iam_role_name:
        required: true
        type: string
      dynamodb_stack_name:
        required: true
        type: string
      visitors_table_name:
        required: true
        type: string
    secrets:
      aws_account_id:
        required: true

permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout

jobs:
  CloudFormationDynamoDBStackDeployment:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Configure AWS credentials
        uses: ./.github/actions/configure-aws
        with:
          aws-region: ${{ inputs.aws_region }}
          role-arn: arn:aws:iam::${{ secrets.aws_account_id }}:role/${{ inputs.iam_role_name }}
          session-name: dynamodb-stack-deployment

      - name: Deploy DynamoDB stack
        id: cloudformation-dynamodb-stack
        uses: aws-actions/aws-cloudformation-github-deploy@v1.3.0
        with:
          name: ${{ inputs.dynamodb_stack_name }}
          template: ./cloudformation/dynamodb-setup.yaml
          no-fail-on-empty-changeset: "1"
          parameter-overrides: |
            VisitorsTableName=${{ inputs.visitors_table_name }}