name: Main Pipeline

on:
  workflow_dispatch:
    inputs:
      trigger-infra-basic-setup:
        description: "Run S3 stack setup workflow?"
        required: true
        default: "false"
        type: boolean
      trigger-dynamodb-setup:
        description: "Run DynamoDB setup workflow?"
        required: true
        default: "false"
        type: boolean
      trigger-lambda-setup:
        description: "Run Lambda setup workflow?"
        required: true
        default: "false"
        type: boolean
      trigger-api-gateway-setup:
        description: "Run API Gateway setup workflow?"
        required: true
        default: "false"
        type: boolean
      trigger-cloudfront-setup:
        description: "Run CloudFront setup workflow?"
        required: true
        default: "false"
        type: boolean
      deploy-lambda-code:
        description: "Deploy Lambda code?"
        required: true
        default: "false"
        type: boolean
      upload-site-sources:
        description: "Upload site sources?"
        required: true
        default: "false"
        type: boolean

permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout

jobs:
  LoadConfig:
    uses: ./.github/workflows/config.yaml

  RunBasicInfraSetup:
    needs: [LoadConfig]
    if: ${{ github.event.inputs.trigger-infra-basic-setup == 'true' }}
    uses: ./.github/workflows/deploy-s3-stack.yaml
    with:
      aws_region: ${{ needs.LoadConfig.outputs.aws_region }}
      iam_role_name: ${{ needs.LoadConfig.outputs.iam_role_name }}
      storage_stack_name: ${{ needs.LoadConfig.outputs.storage_stack_name }}
      sources_bucket_ending: ${{ needs.LoadConfig.outputs.sources_bucket_ending }}
    secrets:
      aws_account_id: ${{ secrets.AWS_ACCOUNT_ID }}

  RunDynamoDBSetup:
    needs: [LoadConfig]
    if: ${{ github.event.inputs.trigger-dynamodb-setup == 'true' }}
    uses: ./.github/workflows/deploy-dynamodb-stack.yaml
    with:
      aws_region: ${{ needs.LoadConfig.outputs.aws_region }}
      iam_role_name: ${{ needs.LoadConfig.outputs.iam_role_name }}
      dynamodb_stack_name: ${{ needs.LoadConfig.outputs.dynamodb_stack_name }}
      visitors_table_name: ${{ needs.LoadConfig.outputs.visitors_table_name }}
    secrets:
      aws_account_id: ${{ secrets.AWS_ACCOUNT_ID }}

  RunCreateLambdaStack:
    needs: [LoadConfig, RunBasicInfraSetup, RunDynamoDBSetup]
    if: |
      always() &&
      github.event.inputs.trigger-lambda-setup == 'true' &&
      (needs.RunBasicInfraSetup.result == 'success' || needs.RunBasicInfraSetup.result == 'skipped') &&
      (needs.RunDynamoDBSetup.result == 'success' || needs.RunDynamoDBSetup.result == 'skipped')
    uses: ./.github/workflows/deploy-lambda-stack.yaml
    with:
      aws_region: ${{ needs.LoadConfig.outputs.aws_region }}
      iam_role_name: ${{ needs.LoadConfig.outputs.iam_role_name }}
      lambda_stack_name: ${{ needs.LoadConfig.outputs.lambda_stack_name }}
      lambda_function_name: ${{ needs.LoadConfig.outputs.lambda_function_name }}
      storage_stack_name: ${{ needs.LoadConfig.outputs.storage_stack_name }}
      dynamodb_stack_name: ${{ needs.LoadConfig.outputs.dynamodb_stack_name }}
    secrets:
      aws_account_id: ${{ secrets.AWS_ACCOUNT_ID }}

  RunDeployLambdaCode:
    needs: [LoadConfig]
    if: ${{ github.event.inputs.deploy-lambda-code == 'true' }}
    uses: ./.github/workflows/deploy-lambda-code.yaml
    with:
      aws_region: ${{ needs.LoadConfig.outputs.aws_region }}
      iam_role_name: ${{ needs.LoadConfig.outputs.iam_role_name }}
      storage_stack_name: ${{ needs.LoadConfig.outputs.storage_stack_name }}
      lambda_function_name: ${{ needs.LoadConfig.outputs.lambda_function_name }}
    secrets:
      aws_account_id: ${{ secrets.AWS_ACCOUNT_ID }}

  RunAPIGatewaySetup:
    needs: [LoadConfig, RunCreateLambdaStack]
    if: |
      always() &&
      github.event.inputs.trigger-api-gateway-setup == 'true' &&
      (needs.RunCreateLambdaStack.result == 'success' || needs.RunCreateLambdaStack.result == 'skipped')
    uses: ./.github/workflows/deploy-api-gateway-stack.yaml
    with:
      aws_region: ${{ needs.LoadConfig.outputs.aws_region }}
      iam_role_name: ${{ needs.LoadConfig.outputs.iam_role_name }}
      api_gateway_stack_name: ${{ needs.LoadConfig.outputs.api_gateway_stack_name }}
      lambda_stack_name: ${{ needs.LoadConfig.outputs.lambda_stack_name }}
    secrets:
      aws_account_id: ${{ secrets.AWS_ACCOUNT_ID }}

  RunCloudFrontSetup:
    needs: [LoadConfig, RunAPIGatewaySetup]
    if: |
      always() &&
      github.event.inputs.trigger-cloudfront-setup == 'true' &&
      (needs.RunAPIGatewaySetup.result == 'success' || needs.RunAPIGatewaySetup.result == 'skipped')
    uses: ./.github/workflows/deploy-cloudfront-stack.yaml
    with:
      aws_region: ${{ needs.LoadConfig.outputs.aws_region }}
      iam_role_name: ${{ needs.LoadConfig.outputs.iam_role_name }}
      cloudfront_stack_name: ${{ needs.LoadConfig.outputs.cloudfront_stack_name }}
      subdomain: ${{ needs.LoadConfig.outputs.subdomain }}
    secrets:
      hosted_zone_id: ${{ secrets.HOSTED_ZONE_ID }}
      api_gateway_api_key: ${{ secrets.API_GATEWAY_API_KEY }}
      aws_account_id: ${{ secrets.AWS_ACCOUNT_ID }}
      domain_name: ${{ secrets.DOMAIN_NAME }}

  UploadSiteSources:
    needs: [LoadConfig]
    if: ${{ github.event.inputs.upload-site-sources == 'true' }}
    uses: ./.github/workflows/upload-site-sources.yaml
    with:
      aws_region: ${{ needs.LoadConfig.outputs.aws_region }}
      iam_role_name: ${{ needs.LoadConfig.outputs.iam_role_name }}
      cloudfront_stack_name: ${{ needs.LoadConfig.outputs.cloudfront_stack_name }}
    secrets:
      aws_account_id: ${{ secrets.AWS_ACCOUNT_ID }}
