name: Trigger Lambda Stack on Change

on:
  push:
    branches: [ main ]
    paths:
      - 'cloudformation/lambda-setup.yaml'
  pull_request:
    branches: [ main ]
    paths:
      - 'cloudformation/lambda-setup.yaml'

permissions:
  id-token: write
  contents: read

jobs:
  LoadConfig:
    uses: ./.github/workflows/config.yaml

  DeployLambdaStack:
    needs: [LoadConfig]
    uses: ./.github/workflows/deploy-lambda-stack.yaml
    with:
      aws_region: ${{ needs.LoadConfig.outputs.aws_region }}
      iam_role_name: ${{ needs.LoadConfig.outputs.iam_role_name }}
      lambda_stack_name: ${{ needs.LoadConfig.outputs.lambda_stack_name }}
      lambda_function_name: ${{ needs.LoadConfig.outputs.lambda_function_name }}
      storage_stack_name: ${{ needs.LoadConfig.outputs.storage_stack_name }}
      dynamodb_stack_name: ${{ needs.LoadConfig.outputs.dynamodb_stack_name }}
    secrets:
      aws_account_id: ${{ secrets.AWS_ACCOUNT_ID }}

