name: Trigger DynamoDB Stack on Change

on:
  push:
    branches: [ main ]
    paths:
      - 'cloudformation/dynamodb-setup.yaml'
  pull_request:
    branches: [ main ]
    paths:
      - 'cloudformation/dynamodb-setup.yaml'

permissions:
  id-token: write
  contents: read

jobs:
  LoadConfig:
    uses: ./.github/workflows/config.yaml

  DeployDynamoDBStack:
    needs: [LoadConfig]
    uses: ./.github/workflows/deploy-dynamodb-stack.yaml
    with:
      aws_region: ${{ needs.LoadConfig.outputs.aws_region }}
      iam_role_name: ${{ needs.LoadConfig.outputs.iam_role_name }}
      dynamodb_stack_name: ${{ needs.LoadConfig.outputs.dynamodb_stack_name }}
      visitors_table_name: ${{ needs.LoadConfig.outputs.visitors_table_name }}
    secrets:
      aws_account_id: ${{ secrets.AWS_ACCOUNT_ID }}

